//Declaring colors
$sunshine-yellow: #ffcb05; 
$black: #000000;
$white: #ffffff;
$green: #77b073;
$maroon_light: #ce3f6d;
$maroon_dark: #3a111f;

//Dimensions
$contentSize: 936px;
$wideSize: 1200px;
/*fullWidth: ????;*/